<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Explorations</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/styles.css">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>

    <h1>🌿 Uniform Spanning Tree Generator 🌿</h1>

    <svg></svg>  

    <button id="start">Generate Tree</button>  

    <script src="/static/script.js"></script>

</body>
</html>
